<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Noah Brown's Sobie Profile </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles/style.css">

</head>
<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="https://validator.nu/?doc=https%3A%2F%2Fnbrown2002.github.io%2FNbrown2002%2F" target="_blank">Nu Validator</a> 
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/Nbrown2002" target="_blank">Github Profile</a>
        </li> 
      </ul> 
      </div> 
      </nav> 
    




<main> 

<h1> Welcome to my Sobie Inc. Profile!!! </h1>

<div class="row"> </div>
  <div class="card"> </div>
  <div class="card-header"> <u> About Myself </u>
  <i class="bi bi-emoji-smile-fill"></i>
  </div>
  <div class="card-body"> </div>
    <img src="pictures/myself.jpg" alt="Myself" class="center" width="300" height="200">
    <h2> About Myself </h2>
    <p> Hello, My name is Noah Brown. I am currently starting my 
      journey with Sobie Inc. I am looking forward to getting started. 
    </p>
   




<h4> <ul>  Dev Log Posts </ul> </h4>
    <form method="POST" action="insert/">
        <input name="title">
        <input name="post">
        <button class="btn btn-primary" role="submit">new post</button>
      </form>

      
    <% profileData.forEach(result=> { %>
        <div class="col-md-8">
        
  
      <form method="POST" action="update/">
        <input name="updateTitle" value="<%= result.title %>">
        <input name="updatePost" value="<%= result.post %>"> 
        <input type="hidden" name="updateId" value="<%=result._id %>">
        <button class="btn btn-primary" role="submit"><i class="bi bi-pencil"></i></button>
      </form>
      
  
  
      <form method="POST" action="delete/">
        <input type="hidden" name="deleteId" value="<%=result._id %>">
        <button class="btn btn-primary" role="submit"><i class="bi bi-trash3"></i></button>
      </form>
  
  
    </div>
      <% }); %>




    </main>
</body>

<footer class="py-3 my-4">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
  </ul>
  <p class="text-center text-muted">&copy; 2025 Sobie, Inc</p>
</footer>
</html>